This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [2]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = ''

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/ ).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [26]:
# First, import the relevant modules
import requests 
import json
import pandas as pd

In [27]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse of what the data looks like
# want to turn this into a json object type 
url = 'https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?api_key=-6CzuZZn7cHALUx5Tf65'
response = requests.get(url)
json_data = response.json()
print(json_data['dataset']['data'][1])
print(json_data['dataset']['data'][1000])

['2019-05-24', None, 88.85, 87.5, 88.1, None, 143958.0, 12681718.0, None, None, None]
['2015-06-15', 21.9, 22.07, 21.75, 22.0, None, 42718.0, 937435.0, None, None, None]

In [28]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
column_names = json_data['dataset']['column_names']
dataset = json_data['dataset']['data']
AFX_DataFrame = pd.DataFrame(dataset, columns=column_names)
AFX_DataFrame.head(10)

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2019-05-27,NaN,88.40,87.65,87.85,NaN,85999.0,7560564.0,None,None,NaN
1,2019-05-24,NaN,88.85,87.50,88.10,NaN,143958.0,12681718.0,None,None,NaN
2,2019-05-23,NaN,88.50,87.25,88.20,NaN,185157.0,16297127.0,None,None,NaN
3,2019-05-22,NaN,89.35,87.70,88.85,NaN,171924.0,15233910.0,None,None,NaN
4,2019-05-21,NaN,89.45,87.70,88.10,NaN,165632.0,14624029.0,None,None,NaN
5,2019-05-20,NaN,89.85,88.45,88.55,NaN,134676.0,11985496.0,None,None,NaN
6,2019-05-17,NaN,89.40,88.55,89.25,NaN,117480.0,10466561.0,None,None,NaN
7,2019-05-16,NaN,89.30,86.50,89.20,NaN,159067.0,14088797.0,None,None,NaN
8,2019-05-15,NaN,87.35,85.10,86.65,NaN,145855.0,12611298.0,None,None,NaN
9,2019-05-14,NaN,87.10,83.80,86.00,NaN,297843.0,25587237.0,None,None,NaN

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [29]:
#1: Return all data for the year 2017

AFX_2017 = AFX_DataFrame[(AFX_DataFrame['Date'] >='2017-01-01')&(AFX_DataFrame['Date'] <='2017-12-31')]
AFX_2017.tail(5)

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
592,2017-01-06,34.91,35.21,34.91,35.04,NaN,27507.0,964046.0,None,None,NaN
593,2017-01-05,35.02,35.20,34.73,35.06,NaN,48412.0,1692326.0,None,None,NaN
594,2017-01-04,35.48,35.51,34.75,35.19,NaN,54408.0,1906810.0,None,None,NaN
595,2017-01-03,35.90,35.93,35.34,35.48,NaN,70618.0,2515473.0,None,None,NaN
596,2017-01-02,34.99,35.94,34.99,35.80,NaN,44700.0,1590561.0,None,None,NaN

In [30]:
#2: Convert to a dict -- This was already done above 

type(json_data)

dict

In [31]:
#3: Calculate what the highest and lowest opening prices were for the stock in this period (2017)
AFX_2017_MaxOpen = AFX_2017['Open'].max()
AFX_2017_LowOpen = AFX_2017['Open'].min()
MaxOpen_day = AFX_2017[AFX_2017['Open'] == AFX_2017_MaxOpen].Date.item()
LowOpen_day = AFX_2017[AFX_2017['Open'] == AFX_2017_LowOpen].Date.item()

print('The highest opening value in 2017 was: $' + str(AFX_2017_MaxOpen) + ' and occured on: ' + str(MaxOpen_day))
print('The lowest opening value in 2017 was: $' + str(AFX_2017_LowOpen) + ' and occured on: '+ str(LowOpen_day))

The highest opening value in 2017 was: $53.11 and occured on: 2017-12-14
The lowest opening value in 2017 was: $34.0 and occured on: 2017-01-24

In [46]:
#4: What was the largest change in any one day (based on High and Low price)?
pd.options.mode.chained_assignment = None
AFX_2017_Diff = AFX_2017
AFX_2017_Diff['High_Low_Day_Diff'] = AFX_2017['High'] - AFX_2017['Low']
max_diff = AFX_2017_Diff['High_Low_Day_Diff'].max()
date = AFX_2017_Diff[AFX_2017_Diff.High_Low_Day_Diff == max_diff].Date.item()

print('The max difference for one day was: ' + str(max_diff) + ' and occured on: ' + str(date))

The max difference for one day was: 2.8100000000000023 and occured on: 2017-05-11

In [43]:
#5: What was the largest change between any two days (based on Closing Price)?
AFX_Closing_Prices= list(AFX_2017['Close'])
AFX_Closing_Prices_Diff_List = [day2-day1 for day1, day2 in zip(AFX_Closing_Prices[1:], AFX_Closing_Prices[:-1])]
AFX_Closing_Prices_Max = max(map(abs, AFX_Closing_Prices_Diff_List))
print('The largest change between any two days was: ' + str(AFX_Closing_Prices_Max))

The largest change between any two days was: 2.559999999999995

In [44]:
#6: What was the average daily trading volume during this year?
avg_volume = AFX_2017['Traded Volume'].sum()/len(AFX_2017['Traded Volume'])

print('The average trading volume for 2017 was: ' + str(round(avg_volume,3)))

The average trading volume for 2017 was: 89124.337

In [45]:
#7: (Optional) What was the median trading volume during this year.

def get_median(volume_data):

    sorted_volume_data = sorted(volume_data, reverse= False)
    size = len(sorted_volume_data)

    if size % 2 == 1:
        return sorted_volume_data[size//2]
    else:
        return sum(sorted_volume_data[size//2-1:size//2+1])/2.0

print('The median trading volume during 2017 was: ', get_median(volume_data = AFX_2017['Traded Volume']))

The median trading volume during 2017 was:  76286.0